.notifications-wrapper {
  background: radial-gradient(ellipse at top, #061530 0%, #030a16 80%);
  min-height: 90vh;
}

.unread-dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
